name: Deploy to specific environment from PR
on:
  workflow_call:
    inputs:
      working-directory:
        description: "Directory containing the project files"
        required: false
        type: string
        default: "."
      terraform-directory:
        description: Directory where Terraform environment directories are located
        type: string
        required: false
        default: ""
      version-handler-api-endpoint:
        description: "Version handler API endpoint for artifact versioning. Use ONLY if testing the deployment pipeline"
        required: false
        type: string

permissions:
  pull-requests: write
  deployments: write
  contents: write
  checks: read
  statuses: read
  id-token: write

jobs:
  trigger:
    name: Trigger - Branch Deploy
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '.deploy')
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.branch-deploy.outputs.continue }}
      deployment_id: ${{ steps.branch-deploy.outputs.deployment_id }}
      environment: ${{ steps.branch-deploy.outputs.environment }}
      ref: ${{ steps.branch-deploy.outputs.ref }}
      sha: ${{ steps.branch-deploy.outputs.sha }}
      comment_id: ${{ steps.branch-deploy.outputs.comment_id }}
      initial_reaction_id: ${{ steps.branch-deploy.outputs.initial_reaction_id }}
      actor_handle: ${{ steps.branch-deploy.outputs.actor_handle }}

    steps:
      - uses: github/branch-deploy@c9fcc362bdcea69eecac6578dde245cd5e3a55bf  # 10.4.3
        id: branch-deploy
        with:
          trigger: '.deploy test | .deploy stage'
          environment: 'Test,Stage'
          environment_targets: 'Test,Stage'
          skip_completing: 'true' # we will complete the deployment manually
          skip_reviews: 'Test' # skip reviews for test deployments
          draft_permitted_targets: Test # allow draft PRs to deploy to Test
          stable_branch: ${{ github.event.repository.default_branch || 'main' }} # branch-deploy uses 'main' as default

  test-deploy:
    name: Test - Deploy
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment.yml@v2
    needs: trigger
    if: |
      always()
      && needs.trigger.outputs.continue == 'true'
      && needs.trigger.outputs.environment == 'Test'
      && !cancelled()
    with:
      environment: Test
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      sha-to-deploy: ${{ needs.trigger.outputs.sha }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  stage-deploy:
    name: Stage - Deploy
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment.yml@v2
    needs: trigger
    if: |
      always()
      && needs.trigger.outputs.continue == 'true'
      && needs.trigger.outputs.environment == 'Stage'
      && !cancelled()
    with:
      environment: Stage
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      sha-to-deploy: ${{ needs.trigger.outputs.sha }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  comment-handler:
    needs: [ trigger, test-deploy, stage-deploy ]
    runs-on: ubuntu-latest
    if: ${{ always() && needs.trigger.outputs.continue == 'true' }}
    steps:
      - uses: nsbno/platform-actions/.github/actions/helpers/branch-comment-handler@v2
        with:
          is-preview: false
          environment: ${{ needs.trigger.outputs.environment }}
          github-repository: ${{ github.repository }}
          github-token: ${{ github.token }}
          issue-number: ${{ github.event.issue.number }}
          ref: ${{ needs.trigger.outputs.ref }}
          initial-reaction-id: ${{ needs.trigger.outputs.initial_reaction_id }}
          deployment-id: ${{ needs.trigger.outputs.deployment_id }}
          comment-id: ${{ needs.trigger.outputs.comment_id }}
          actor-handle: ${{ needs.trigger.outputs.actor_handle }}
          job-status: ${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}
