name: Deploy to single environment (Terraform + Service)

on:
  workflow_call:
    inputs:
      environment:
        description: The environment to deploy to.
        type: string
        required: true
      sha-to-deploy:
        description: The SHA to deploy.
        type: string
        required: true
      working-directory:
        description: "Directory containing the project files"
        required: false
        type: string
        default: "."
      terraform-directory:
        description: Directory where Terraform environment directories are located
        type: string
        required: false
        default: ""
      version-handler-api-endpoint:
        description: "Version handler API endpoint for artifact versioning. Use ONLY if testing the deployment pipeline"
        required: false
        type: string
      s3-static-files-path:
        description: "Path in S3 bucket to upload static files to."
        required: false
        type: string
        default: "static"
      skip-static-files-deployment:
        description: Skip deployment of static files to S3 (if applicable). Used if static files is built in Dockerfile.
        type: boolean
        default: false
        required: false
      ecr-repository-names:
        description: "List of ECR repository names for multi-service in one Terraform config (JSON array format)."
        type: string
        required: false
        default: ""

jobs:
  deploy-terraform:
    name: Terraform Apply
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-terraform.yml@v2
    if: |
      always()
      && !cancelled()
    with:
      environment: ${{ inputs.environment }}
      deploy-terraform: true
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      sha-to-deploy: ${{ inputs.sha-to-deploy }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  deploy-application:
    name: Deploy Application
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-ecs.yml@v2
    needs:
      - deploy-terraform
    if: |
      always()
      && !cancelled()
      && needs.deploy-terraform.result != 'failure'
    with:
      environment: ${{ inputs.environment }}
      working-directory: ${{ inputs.working-directory }}
      deploy-application: true
      sha-to-deploy: ${{ inputs.sha-to-deploy }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}
      ecr-repository-names: ${{ inputs.ecr-repository-names }}
      skip-static-files-deployment: ${{ inputs.skip-static-files-deployment }}
