name: Deploy ECS Service/SSR Service

on:
  workflow_call:
    inputs:
      working-directory:
        description: If monorepo. Directory where the service is located.
        type: string
        required: false
        default: "."
      environment:
        description: Environment to deploy
        type: string
        required: true
      deploy-application:
        description: Should application be deployed
        type: boolean
        required: true
      sha-to-deploy:
        description: SHA to deploy, defaults to the current commit
        type: string
        required: false
        default: ${{ github.event.pull_request.head.sha || github.sha }}
      skip-s3-deployment:
        description: Skip S3 deployment for static files
        type: boolean
        required: false
        default: false
      version-handler-api-endpoint:
        description: Version handler API endpoint for artifact versioning
        type: string
        required: false

run-name: Deploy to ${{ inputs.environment }}

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ inputs.environment }}-deploy-${{ inputs.working-directory }}

jobs:
  ecs-service:
    name: ${{ inputs.environment }} - ECS
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
    if: |
      inputs.deploy-application
      && always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: '0' # Fetch all history for all branches and tags (for branch deploys)
          ref: ${{ inputs.sha-to-deploy }}

      - name: Normalize deployment paths
        id: normalize-paths
        env:
          WORKING_DIRECTORY: ${{ inputs.working-directory }}
        run: |
            # Extract repository name without owner
            echo "git-repo-name=${GITHUB_REPOSITORY##*/}" >> $GITHUB_OUTPUT

            NORMALIZED="${WORKING_DIRECTORY#./}" # Remove leading ./
            NORMALIZED="${NORMALIZED#.}"         # Remove leading .
            NORMALIZED="${NORMALIZED#/}"         # Remove leading /
            echo "working-directory=${NORMALIZED}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: "arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_DEPLOYMENT_ROLE_NAME }}"

      - name: Get Application Deployment Information
        id: deployment-info
        uses: nsbno/platform-actions/.github/actions/deployment/get-application-deployment-info@v2
        with:
          github-repository-name: ${{ steps.normalize-paths.outputs.git-repo-name }}
          working-directory: ${{ steps.normalize-paths.outputs.working-directory }}

      - name: Warn if no ECS service found
        if: steps.deployment-info.outputs.ecs-service-name == ''
        run: |
          echo "::warning::No ECS found in environment ${{ inputs.environment }}. Skipping ECS deployment."
          echo "::warning::Use `deployment.all-environments-terraform.yml` workflow if not deploying ECS."

      # Needs to be available before the frontend server deploys
      - name: Deploy Static S3/Website
        if: steps.deployment-info.outputs.static-files-bucket-name != '' && !inputs.skip-s3-deployment
        uses: nsbno/platform-actions/.github/actions/deployment/static-files/upload-build-to-s3@v2
        with:
          s3-bucket-name: ${{ steps.deployment-info.outputs.static-files-bucket-name }}
          git-sha: '${{ inputs.sha-to-deploy }}'
          github-repository-name: ${{ steps.normalize-paths.outputs.git-repo-name }}
          working-directory: ${{ steps.normalize-paths.outputs.working-directory }}

      - name: Deploy ECS
        if: steps.deployment-info.outputs.ecs-service-name != ''
        uses: nsbno/platform-actions/.github/actions/deployment/deploy-ecs@v2
        with:
          cluster-name: ${{ steps.deployment-info.outputs.ecs-cluster-name }}
          image-uri: "${{ steps.deployment-info.outputs.ecr-image-base }}:${{ inputs.sha-to-deploy }}"
          ecs-service-name: ${{ steps.deployment-info.outputs.ecs-service-name }}
          ecs-container-name: ${{ steps.deployment-info.outputs.ecs-container-name }}
          ecs-container-port: ${{ steps.deployment-info.outputs.ecs-container-port }}
          aws-account-id: ${{ vars.AWS_ACCOUNT_ID }}
          sha-version: ${{ inputs.sha-to-deploy }}

      - name: Register ECS Version to deployment version handler
        if: steps.deployment-info.outputs.ecs-service-name != ''
        uses: nsbno/platform-actions/.github/actions/helpers/register-version@v2
        with:
          compute-target: "ecs"
          working-directory: ${{ steps.normalize-paths.outputs.working-directory }}
          git-sha-to-register: ${{ inputs.sha-to-deploy }}
          api-endpoint: ${{ inputs.version-handler-api-endpoint }}
