name: Deploy to specific environment from PR
on:
  workflow_call:
    inputs:
      working-directory:
        description: "Directory containing the project files"
        required: false
        type: string
        default: "."
      terraform-directory:
        description: Directory where Terraform environment directories are located
        type: string
        required: false
        default: ""
      version-handler-api-endpoint:
        description: "Version handler API endpoint for artifact versioning. Use ONLY if testing the deployment pipeline"
        required: false
        type: string
      s3-static-files-path:
        description: "Path in S3 bucket to upload static files to."
        required: false
        type: string
        default: "static"

permissions:
  pull-requests: write
  deployments: write
  contents: write
  checks: read
  statuses: read
  id-token: write

jobs:
  trigger-test:
    name: Trigger - Branch Deploy Test
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '.deploy test')
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.branch-deploy.outputs.continue }}
      deployment_id: ${{ steps.branch-deploy.outputs.deployment_id }}
      environment: ${{ steps.branch-deploy.outputs.environment }}
      ref: ${{ steps.branch-deploy.outputs.ref }}
      sha: ${{ steps.branch-deploy.outputs.sha }}
      comment_id: ${{ steps.branch-deploy.outputs.comment_id }}
      initial_reaction_id: ${{ steps.branch-deploy.outputs.initial_reaction_id }}
      actor_handle: ${{ steps.branch-deploy.outputs.actor_handle }}

    steps:
      - uses: github/branch-deploy@fded0351b6b79f854b335c11b3d93063461dd288 # v11.1.2
        id: branch-deploy
        with:
          trigger: '.deploy test'
          environment: 'Test'
          environment_targets: 'Test'
          skip_completing: 'true' # we will complete the deployment manually
          skip_reviews: 'Test' # skip reviews for test deployments
          draft_permitted_targets: Test # allow draft PRs to deploy to Test
          stable_branch: ${{ github.event.repository.default_branch || 'main' }} # branch-deploy uses 'main' as default

  trigger-stage:
    name: Trigger - Branch Deploy Stage
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '.deploy stage')
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.branch-deploy.outputs.continue }}
      deployment_id: ${{ steps.branch-deploy.outputs.deployment_id }}
      environment: ${{ steps.branch-deploy.outputs.environment }}
      ref: ${{ steps.branch-deploy.outputs.ref }}
      sha: ${{ steps.branch-deploy.outputs.sha }}
      comment_id: ${{ steps.branch-deploy.outputs.comment_id }}
      initial_reaction_id: ${{ steps.branch-deploy.outputs.initial_reaction_id }}
      actor_handle: ${{ steps.branch-deploy.outputs.actor_handle }}

    steps:
      - uses: github/branch-deploy@fded0351b6b79f854b335c11b3d93063461dd288 # v11.1.2
        id: branch-deploy
        with:
          trigger: '.deploy stage'
          environment: 'Stage'
          environment_targets: 'Stage'
          skip_completing: 'true' # we will complete the deployment manually
          skip_reviews: 'Stage' # skip reviews for test deployments
          draft_permitted_targets: Stage # allow draft PRs to deploy to Test
          stable_branch: ${{ github.event.repository.default_branch || 'main' }} # branch-deploy uses 'main' as default

  test-deploy:
    name: Test - Deploy
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment.yml@v2
    needs: trigger-test
    if: |
      always()
      && needs.trigger-test.outputs.continue == 'true'
      && !cancelled()
    with:
      environment: Test
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      sha-to-deploy: ${{ needs.trigger-test.outputs.sha }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}

  stage-deploy:
    name: Stage - Deploy
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment.yml@v2
    needs: trigger-stage
    if: |
      always()
      && needs.trigger-stage.outputs.continue == 'true'
      && !cancelled()
    with:
      environment: Stage
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      sha-to-deploy: ${{ needs.trigger-stage.outputs.sha }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}

  comment-handler:
    needs: [ trigger-test, trigger-stage, test-deploy, stage-deploy ]
    runs-on: ubuntu-latest
    if: ${{ always() && (needs.trigger-test.outputs.continue == 'true' || needs.trigger-stage.outputs.continue == 'true') }}
    steps:
      - uses: nsbno/platform-actions/.github/actions/helpers/branch-comment-handler@v2
        with:
          is-preview: false
          environment: ${{ needs.trigger-test.outputs.environment || needs.trigger-stage.outputs.environment }}
          github-repository: ${{ github.repository }}
          github-token: ${{ github.token }}
          issue-number: ${{ github.event.issue.number }}
          ref: ${{ needs.trigger-test.outputs.ref || needs.trigger-stage.outputs.ref }}
          initial-reaction-id: ${{ needs.trigger-test.outputs.initial_reaction_id || needs.trigger-stage.outputs.initial_reaction_id }}
          deployment-id: ${{ needs.trigger-test.outputs.deployment_id || needs.trigger-stage.outputs.deployment_id }}
          comment-id: ${{ needs.trigger-test.outputs.comment_id || needs.trigger-stage.outputs.comment_id }}
          actor-handle: ${{ needs.trigger-test.outputs.actor_handle || needs.trigger-stage.outputs.actor_handle }}
          job-status: ${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}
