name: Preview Cleanup for a given App Runner Service
on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        description: "Directory containing the project files."
        default: "."
      ecr-repository-name:
        required: false
        type: string
        description: "The ECR repository name (optional, for multiple ECS services in single Terraform config)"

permissions:
  contents: read
  id-token: write

jobs:
  cleanup:
    name: Delete App Runner Service and Logs
    runs-on: ubuntu-latest
    environment: Test
    steps:
      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: "arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_DEPLOYMENT_ROLE_NAME }}"

      # Get the deployment information for the service. Need to deploy without preview once first for the bucket to be created.
      - name: Get Application Deployment Information
        id: deployment-info
        uses: nsbno/platform-actions/.github/actions/deployment/get-application-deployment-info@v2
        with:
          github-repository-name: ${{ github.repository }}
          working-directory: ${{ inputs.working-directory }}
          ecr-repository-name: ${{ inputs.ecr-repository-name }}

      - name: Delete App Runner Service
        id: delete-service
        shell: bash
        run: |
          SERVICE_NAME="pr-${{ github.event.number }}-${{ steps.deployment-info.outputs.ecs-service-name }}"
          echo "service-name=$SERVICE_NAME" >> $GITHUB_OUTPUT

          SERVICE_ARN=$(aws apprunner list-services --region ${{ vars.AWS_REGION }} \
            --query "ServiceSummaryList[?ServiceName=='${SERVICE_NAME}'].ServiceArn" --output text)
          if [ -n "$SERVICE_ARN" ]; then
            aws apprunner delete-service --service-arn "$SERVICE_ARN" --region ${{ vars.AWS_REGION }}
            echo "Deleted App Runner service: $SERVICE_NAME"
          else
            echo "No App Runner service found for: $SERVICE_NAME"
          fi

      - name: Delete CloudWatch Logs
        shell: bash
        run: |
          PREFIX="/aws/apprunner/${{steps.delete-service.outputs.service-name}}"

          LOG_GROUPS=$(aws logs describe-log-groups \
            --log-group-name-prefix "$PREFIX" \
            --query "logGroups[*].logGroupName" \
            --output text)
          echo "The following log groups will be deleted:"
          echo "$LOG_GROUPS" | tr '\t' '\n'
          
          for LOG_GROUP in $LOG_GROUPS; do
            echo "Deleting log group: $LOG_GROUP"
            aws logs delete-log-group --log-group-name "$LOG_GROUP" --region ${{ vars.AWS_REGION }} 
            if [ $? -eq 0 ]; then
              echo "Successfully deleted: $LOG_GROUP"
            else
              echo "Failed to delete: $LOG_GROUP"
            fi
          done
