name: Deploy All Environments (used for ECS Services)

on:
  workflow_call:
    inputs:
      has-application-changes:
        description: All changes in application and infrastructure
        type: boolean
        required: false
        default: true
      terraform-changes:
        type: string
        required: false
        default: '["Service", "Test", "Stage", "Production"]' # Assume all environments have changes if not specified
      working-directory:
        description: "Directory containing the project files"
        required: false
        type: string
        default: "."
      terraform-directory:
        description: Directory where Terraform environment directories are located
        type: string
        required: false
        default: ""
      sha-to-deploy:
        description: The SHA to deploy. If not provided, the current commit SHA will be used.
        type: string
        required: false
        default: ${{ github.sha }} # Assume this workflow is only run in main branches
      skip-test-environment:
        description: Skip the test environment, if the repository does not deploy to the test environment.
        type: boolean
        default: false
        required: false
      skip-service-environment:
        description: '[DEPRECATED] This parameter no longer has any effect. Service environment is automatically skipped if no terraform directory exists.'
        type: boolean
        default: false
        required: false
      skip-production-environment:
        description: Skip the production environment, if the repository does not deploy to the production environment.
        type: boolean
        default: false
        required: false
      skip-static-files-deployment:
        description: Skip deployment of static files to S3 (if applicable). Used if static files is built in Dockerfile.
        type: boolean
        default: false
        required: false
      aws-role-name-to-assume:
        description: "The AWS role name to assume. Used for migration purposes for teams using older GHA roles."
        required: false
        type: string
        default: ${{ vars.AWS_DEPLOYMENT_ROLE_NAME }}
      version-handler-api-endpoint:
        description: "Version handler API endpoint for artifact versioning. Use ONLY if testing the deployment pipeline"
        required: false
        type: string
      ecr-repository-names:
        description: "List of ECR repository names for multi-service in one Terraform config (JSON array format)."
        type: string
        required: false
        default: ""
      s3-static-files-path:
        description: "Path in S3 bucket to upload static files to."
        required: false
        type: string
        default: "static"

run-name: Deploy Environments

jobs:
  get-environments:
    name: Find Relevant GH Environments
    runs-on: ubuntu-latest
    outputs:
      environments: ${{ steps.envs.outputs.environments }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: nsbno/platform-actions/.github/actions/helpers/get-environments@v2
        id: envs
        with:
          working-directory: ${{ inputs.working-directory }}
          terraform-directory: ${{ inputs.terraform-directory }}
          skip-production-environment: ${{ inputs.skip-production-environment }}
          skip-test-environment: ${{ inputs.skip-test-environment }}

  # Service always needs to be deployed first, and we only deploy Terraform changes.
  service-terraform:
    name: Service - Terraform
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-terraform.yml@v2
    needs: get-environments
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && contains(needs.get-environments.outputs.environments, 'Service')
    strategy:
      matrix:
        # Matrix gives better visibility in GH UI
        environment: [ Service ]
    with:
      environment: ${{ matrix.environment }}
      deploy-terraform: ${{ contains(fromJSON(inputs.terraform-changes), 'Service') }}
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  test-terraform:
    name: Test - Terraform
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-terraform.yml@v2
    needs:
      - service-terraform
      - get-environments
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && contains(needs.get-environments.outputs.environments, 'Test')
    strategy:
      matrix:
        # Matrix gives better visibility in GH UI
        environment: [ Test ]
    with:
      environment: ${{ matrix.environment }}
      deploy-terraform: ${{ contains(fromJSON(inputs.terraform-changes), 'Test') }}
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  test-ecs-service:
    name: Test - ECS Service
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-ecs.yml@v2
    needs:
      - test-terraform
      - get-environments
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && needs.test-terraform.result != 'failure'
      && contains(needs.get-environments.outputs.environments, 'Test')
    with:
      working-directory: ${{ inputs.working-directory }}
      environment: Test
      deploy-application: ${{ inputs.has-application-changes }}
      sha-to-deploy: ${{ inputs.sha-to-deploy }}
      skip-static-files-deployment: ${{ inputs.skip-static-files-deployment }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}
      ecr-repository-names: ${{ inputs.ecr-repository-names }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}

  stage-terraform:
    name: Stage - Terraform
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-terraform.yml@v2
    needs:
      - service-terraform
      - get-environments
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && contains(needs.get-environments.outputs.environments, 'Stage')
    strategy:
      matrix:
        # Matrix gives better visibility in GH UI
        environment: [ Stage ]
    with:
      environment: ${{ matrix.environment }}
      deploy-terraform: ${{ contains(fromJSON(inputs.terraform-changes), 'Stage') }}
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  stage-ecs-service:
    name: Stage - ECS Service
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-ecs.yml@v2
    needs:
      - stage-terraform
      - get-environments
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && needs.stage-terraform.result != 'failure'
      && contains(needs.get-environments.outputs.environments, 'Stage')
    with:
      working-directory: ${{ inputs.working-directory }}
      environment: Stage
      deploy-application: ${{ inputs.has-application-changes }}
      sha-to-deploy: ${{ inputs.sha-to-deploy }}
      skip-static-files-deployment: ${{ inputs.skip-static-files-deployment }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}
      ecr-repository-names: ${{ inputs.ecr-repository-names }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}

  production-terraform:
    name: Prod - Terraform
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-terraform.yml@v2
    needs:
      - stage-ecs-service
      - stage-terraform
      - test-ecs-service
      - test-terraform
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && contains(needs.get-environments.outputs.environments, 'Production')
    strategy:
      matrix:
        # Matrix gives better visibility in GH UI
        environment: [ Production ]
    with:
      environment: ${{ matrix.environment }}
      deploy-terraform: ${{ contains(fromJSON(inputs.terraform-changes), 'Production') }}
      working-directory: ${{ inputs.working-directory }}
      terraform-directory: ${{ inputs.terraform-directory }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}

  production-ecs-service:
    name: Prod - ECS Service
    uses: nsbno/platform-actions/.github/workflows/deployment.single-environment-ecs.yml@v2
    needs:
      - production-terraform
      - get-environments
    if: |
      always()
      && !cancelled()
      && !contains(needs.*.result, 'failure')
      && contains(needs.get-environments.outputs.environments, 'Production')
    with:
      working-directory: ${{ inputs.working-directory }}
      environment: Production
      deploy-application: ${{ inputs.has-application-changes }}
      sha-to-deploy: ${{ inputs.sha-to-deploy }}
      skip-static-files-deployment: ${{ inputs.skip-static-files-deployment }}
      version-handler-api-endpoint: ${{ inputs.version-handler-api-endpoint }}
      ecr-repository-names: ${{ inputs.ecr-repository-names }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}
