name: Branch Preview Deployment
on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        description: The working directory for the service to deploy.
        type: string
        default: "."
      ecr-repository-name:
        required: false
        type: string
        description: "The ECR repository name (optional, for multiple ECS services in single Terraform config)"
      skip-static-files-deployment:
        description: Skip deployment of static files to S3 (if applicable). Used if static files is built in Dockerfile.
        type: boolean
        default: true # TODO: change to false in v3 of platform-actions to not break backwards-compatibility
        required: false
      s3-static-files-path:
        description: "Path in S3 bucket to upload static files to."
        required: false
        type: string
        default: "static"

jobs:
  trigger:
    name: Trigger - Branch Preview
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '.preview')
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.branch-comment-handler.outputs.continue }}
      deployment_id: ${{ steps.branch-comment-handler.outputs.deployment_id }}
      environment: ${{ steps.branch-comment-handler.outputs.environment }}
      ref: ${{ steps.branch-comment-handler.outputs.ref }}
      sha: ${{ steps.branch-comment-handler.outputs.sha }}
      comment_id: ${{ steps.branch-comment-handler.outputs.comment_id }}
      initial_reaction_id: ${{ steps.branch-comment-handler.outputs.initial_reaction_id }}
      actor_handle: ${{ steps.branch-comment-handler.outputs.actor_handle }}

    steps:
      - uses: github/branch-deploy@c9fcc362bdcea69eecac6578dde245cd5e3a55bf  # 10.4.3
        id: branch-comment-handler
        with:
          trigger: '.preview'
          environment: Test
          skip_completing: 'true' # we will complete the deployment manually
          skip_reviews: Test # skip reviews for Preview
          draft_permitted_targets: Test # allow draft PRs to deploy to Test
          stable_branch: ${{ github.event.repository.default_branch || 'main' }} # branch-deploy uses 'main' as default
          update_branch: 'false' # do not stop preview when unsync with latest main changes

  preview:
    needs: trigger
    uses: nsbno/platform-actions/.github/workflows/deployment.preview.yml@v2
    with:
      working-directory: ${{ inputs.working-directory }}
      git-event-number: ${{ github.event.issue.number }}
      git-repository: ${{ github.repository }}
      git-sha: ${{ needs.trigger.outputs.sha }}
      ecr-repository-name: ${{ inputs.ecr-repository-name }}
      skip-static-files-deployment: ${{ inputs.skip-static-files-deployment }}
      s3-static-files-path: ${{ inputs.s3-static-files-path }}

  comment-handler:
    needs: [ trigger, preview ]
    runs-on: ubuntu-latest
    if: ${{ always() && needs.trigger.outputs.continue == 'true' }}
    steps:
      - uses: nsbno/platform-actions/.github/actions/helpers/branch-comment-handler@v2
        with:
          is-preview: true
          environment: Test
          github-repository: ${{ github.repository }}
          github-token: ${{ github.token }}
          issue-number: ${{ github.event.issue.number }}
          ref: ${{ needs.trigger.outputs.ref }}
          initial-reaction-id: ${{ needs.trigger.outputs.initial_reaction_id }}
          deployment-id: ${{ needs.trigger.outputs.deployment_id }}
          comment-id: ${{ needs.trigger.outputs.comment_id }}
          actor-handle: ${{ needs.trigger.outputs.actor_handle }}
          job-status: ${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}
