name: helpers.report-dora-metric.yml
on:
  workflow_call:
    inputs:
      status:
        description: "The status of the pipeline"
        required: true
        type: string
      aws-role-name-to-assume:
        description: "The AWS role name to assume. Used for migration purposes for teams using older GHA roles."
        required: false
        type: string
        default: ${{ vars.AWS_DEPLOYMENT_ROLE_NAME }}

permissions:
  id-token: write

jobs:
  submit-dora-metrics:
    name: Submit DORA Metrics
    environment: 'Service'
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ inputs.aws-role-name-to-assume }}
      - name: Submit metric
        uses: nsbno/platform-actions/.github/actions/helpers/dora-metrics@autodiscovery
        with:
          status: ${{ inputs.status }}
          topic_arn: ${{ vars.DORA_METRICS_SNS_TOPIC_ARN }}