on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        description: "Directory containing the project files."
        default: "."
      artifact-name:
        required: false
        type: string
        description: "Name of the artifact storing the build files."
      zip-file-name:
        required: false
        type: string
        description: "Name of the zip file to upload."
        default: ''
      s3-bucket-name:
        required: false
        type: string
        description: "Name of the S3 bucket to upload to."
        default: ''
      aws-region:
        required: false
        type: string
        description: "AWS region to use."
        default: 'eu-west-1'

name: Upload Deployable to S3

permissions:
  id-token: write
  contents: read

jobs:
  upload-zip-to-s3:
    name: Upload zip to S3
    environment: Service
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifacts if specified
        if: inputs.artifact-name != ''
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: "./temp-artifact"

      - name: Create zip file if not specified
        if: inputs.zip-file-name == ''
        run: |
          if [ -d "./temp-artifact" ]; then
            cd ./temp-artifact
            zip -r "../${{ inputs.application-name }}.zip" ./*
          else
            zip -r "${{ inputs.application-name }}.zip" ./*
          fi

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.aws-region }}
          role-to-assume: "arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_DEPLOYMENT_ROLE_NAME }}"

      - name: Upload to S3
        env:
          S3_BUCKET: ${{ inputs.s3-bucket-name != '' && inputs.s3-bucket-name || format('{0}-deployment-delivery-pipeline-artifacts', vars.AWS_ACCOUNT_ID) }}
          GIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
          SERVICE_DIR: ${{ inputs.working-directory }}
          REPO_NAME: ${{ github.repository }}
          ZIP_FILE_NAME: ${{ inputs.zip-file-name != '' && inputs.zip-file-name || format('{0}.zip', inputs.application-name) }}
        run: |
          REPO_NAME_WITHOUT_OWNER="${REPO_NAME##*/}"
          if [ "$SERVICE_DIR" == "." ]; then
            SERVICE_DIR="base"
          else 
            SERVICE_DIR="${SERVICE_DIR##*/}"
          fi

          aws s3 cp "./$ZIP_FILE_NAME" "s3://$S3_BUCKET/$REPO_NAME_WITHOUT_OWNER/$SERVICE_DIR/$GIT_SHA.zip" --metadata "tags"="'[\"${GIT_SHA}-SHA\",\"${BRANCH}-branch\"]'"
          aws s3 cp "./$ZIP_FILE_NAME" "s3://$S3_BUCKET/$REPO_NAME_WITHOUT_OWNER/$SERVICE_DIR/$BRANCH.zip" --metadata "tags"="'[\"${GIT_SHA}-SHA\",\"${BRANCH}-branch\"]'"