name: test.gradle.yml
on:
  workflow_call:
    secrets:
      NEXUS_USERNAME:
        required: true
        description: "Nexus login username."
      NEXUS_PASSWORD:
        required: true
        description: "Nexus login password."

    inputs:
      java-version:
        required: false
        type: string
        description: "What Java version to use."
        default: "17"
      java-distribution:
        required: false
        type: string
        default: "temurin"
        description: "What Java distribution to use. Default is temurin (By Adoptium)."
      gradle-operations:
        required: false
        type: string
        default: "test --build-cache"
        description: "Gradle operations to run."
      working-directory:
        required: false
        type: string
        default: "."
      cache-read-only:
        required: false
        type: boolean
        default: true
        description: "Whether to only read from cache (prevents cache pollution from test jobs)."

jobs:
  test:
    name: Gradle Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: nsbno/platform-actions/.github/actions/tools/gradle@autodiscovery
        name: Gradle Test
        with:
          java-version: ${{ inputs.java-version }}
          java-distribution: ${{ inputs.java-distribution }}
          gradle-operations: ${{ inputs.gradle-operations }}
          working-directory: ${{ inputs.working-directory }}
          cache-read-only: ${{ inputs.cache-read-only }}
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
          # if exists
          BUILD_CACHE_PASSWORD: ${{ secrets.BUILD_CACHE_PASSWORD }}
          BUILD_CACHE_USERNAME: ${{ secrets.BUILD_CACHE_USERNAME }}
          GRADLE_CACHE_ENCRYPTION_KEY: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
